In [1]:
# Execute if necessary
# %%capture
# !pip install numpy seaborn matplotlib pandas

In [2]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from typing import Dict, Tuple, Union, List

# Práctica 3: Modelo Lineal

__Instrucciones__: A continuación hay una lista de funciones que debe implementar o tareas que debe desarrollar. La descripción de cada una de ellas se encuentra en la definición de cada una de las funciones. Cada función está marcada por &#x1F625;,  &#x1F643; o &#x1F921;. Las marcas indican:

- &#x1F625;: Indican una entrega que debe ser hecha dentro de la misma sesión de la asignación. 
- &#x1F643;: Indican una entrega que puede ser hecha hasta la siguiente sesión.
- &#x1F921;: Debe mostrar un avance en la misma sesión, pero la entrega puede ser hecha en la siguiente.

Aquellas entregas parciales que no sean hechas el día de la asignación ya no serán válidas para las entregas totales, sin embargo, las entregas totales seguirán siendo válidas.

En esta sección se incluye un dataset real. El dataset importado incluye multiples características que describen las condiciones de los pasajeros en el accidente del titanic.

- __PassengerId__: Identificador de cada pasajero.
- __Survived__: 0 si no sobrevivió al accidente, 1 si lo hizo.
- __Pclass__: Clase en la que viajaba el pasajero, 1 - Primera clase, 2 - Segunda clase y 3 - Tercera clase.
- __Name__: Nombre del pasajero.
- __Sex__: Sexo del pasajero.
- __Age__: Edad del pasajero.
- __SibSp__: Número de hermanos más número de esposas con las que viajaba el pasajero.
- __Parch__: Número de padres más número de hijos con las que viajaba el pasajero.
- __Ticket__: Número de boleto.
- __Fare__: Tarifa del boleto del pasajero.
- __Cabin__: Número de cabina del pasajero.
- __Embarked__: Puerto de embarcación, C - Cherbourg, Q - Queenstown y S - Southampton.

In [3]:
df = pd.read_csv("titanic.csv")
df.drop('Cabin', axis='columns',inplace=True)

df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S

## Asignación 1 &#x1F625;

Realice el preprocesamiento que considere adecuado para que las características __Pclass__, __Sex__, __SibSp__, __Parch__, __Fare__, __Cabin__, __Embarked__ y __Survived__ puedan ser utilizadas por un modelo lineal.

In [4]:
# Obtenemos la columna
pclas = df.Pclass


inversa = (-pclas) * (np.log1p(pclas))
print(inversa.skew())
# plt.hist(inversa)
df.replace(to_replace=df.Pclass.values, value=inversa)

0.5271586281973932

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,-0.693147,0.000000,-4.158883,"Braund, Mr. Owen Harris",male,22.0,-0.693147,0.000000,A/5 21171,7.2500,S
1,-2.197225,-0.693147,-0.693147,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,-0.693147,0.000000,PC 17599,71.2833,C
2,-4.158883,-0.693147,-4.158883,"Heikkinen, Miss. Laina",female,26.0,0.000000,0.000000,STON/O2. 3101282,7.9250,S
3,4.000000,-0.693147,-0.693147,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,-0.693147,0.000000,113803,53.1000,S
4,5.000000,0.000000,-4.158883,"Allen, Mr. William Henry",male,35.0,0.000000,0.000000,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887.000000,0.000000,-2.197225,"Montvila, Rev. Juozas",male,27.0,0.000000,0.000000,211536,13.0000,S
887,888.000000,-0.693147,-0.693147,"Graham, Miss. Margaret Edith",female,19.0,0.000000,0.000000,112053,30.0000,S
888,889.000000,0.000000,-4.158883,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,-0.693147,-2.197225,W./C. 6607,23.4500,S
889,890.000000,-0.693147,-0.693147,"Behr, Mr. Karl Howell",male,26.0,0.000000,0.000000,111369,30.0000,C
890,891.000000,0.000000,-4.158883,"Dooley, Mr. Patrick",male,32.0,0.000000,0.000000,370376,7.7500,Q

In [5]:
obj = ['Pclass', 'Sex', 'SibSp', 'Parch', 'Fare', 'Embarked', 'Survived']

for col in df.columns:
    if col in obj:
        print(f'Columna: {col}, total de nulos: {df[col].isnull().sum()}')
        
print()
for col in df.columns:
    if isinstance(df[col], int) or isinstance(df[col], float):
        print(f'Columna {col} valor de skewness {df[col].skew()}')

Columna: Survived, total de nulos: 0
Columna: Pclass, total de nulos: 0
Columna: Sex, total de nulos: 0
Columna: SibSp, total de nulos: 0
Columna: Parch, total de nulos: 0
Columna: Fare, total de nulos: 0
Columna: Embarked, total de nulos: 2

In [6]:
v = np.log1p(df.SibSp)
v = np.sqrt(v)
df.replace(to_replace=df.SibSp.values, value= v, inplace= True)

In [7]:
fare_log = np.log1p(df.Fare)
# df = df.join(fare_log)
# df.drop('Fare',inplace=True, axis='columns')
df.replace(to_replace=df.Fare.values, value=fare_log, inplace=True)

In [8]:
df.Embarked.fillna(method='ffill', inplace=True)

In [9]:
# Obtenemos las columnas codificadas
sex_onehot = pd.get_dummies(df.Sex)

# Obtenemos el onehot de Embarked
embarked_onehot = pd.get_dummies(df.Embarked)

# Juntamos las columnas de one hot con el data set original
df =df.join(sex_onehot)
df = df.join(embarked_onehot)

# Eliminamos las columnas extras
df.drop(['Sex', 'Embarked'], axis=1, inplace=True)

df.head(5)
# df.SibSp.value_counts()
# df.Parch.value_counts()
# df.Cabin.isnull().sum()
# df.Survived.value_counts()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,female,male,C,Q,S
0,0.832555,0.000000,1.177410,"Braund, Mr. Owen Harris",22.000000,0.832555,0.0,A/5 21171,2.110213,0,1,0,0,1
1,1.048147,0.832555,0.832555,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.000000,0.832555,0.0,PC 17599,4.280593,1,0,1,0,0
2,1.177410,0.832555,1.177410,"Heikkinen, Miss. Laina",3.295837,0.000000,0.0,STON/O2. 3101282,2.188856,1,0,0,0,1
3,1.268636,0.832555,0.832555,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",3.583519,0.832555,0.0,113803,3.990834,1,0,0,0,1
4,0.849538,0.000000,1.177410,"Allen, Mr. William Henry",3.583519,0.000000,0.0,373450,2.202765,0,1,0,0,1

In [10]:
print(np.shape(df))

(891, 14)

## Asignación 2 &#x1F625;

Utilizando las características __Pclass__, __Sex__, __SibSp__, __Parch__, __Fare__, __Cabin__ y __Embarked__, entrene un clasificador lineal para predecir __Survived__ utilizando el algoritmo _pocket_. Imprima el error obtenido.

In [11]:
x = df.drop(['PassengerId', 'Survived', 'Name', 'Age', 'Ticket'], axis='columns').values
y = df.Survived.values

In [12]:
def train_pla(
    data,
    target,
    max_iters=1000
) -> np.array: 
    """
    Descripción:
    Esta funcion ejecuta una variante del algoritmo PLA para clasificar datos linealmente separables.
    
    Entradas:
    - data: Indica las características utilizadas para la clasificación.
    - target: Indíca las etiquetas que se esperan obtener despues de una correcta clasificación.
    - max_iters: Indica el número máximo de iteraciones del algoritmo. Si el algoritmo no converge
                antes del número máximo de iteraciones, se detiene y devuelve los parámetros 
                calculados hasta el momento.
            
    Salidas:
    - Un arreglo de numpy indicando los parámetros calculados
    """
        
    # model = __random_fn__((data.shape[1] + 1,))
    
    # CÓDIGO AQUÍ
    model = np.random.rand(data.shape[1]+ 1)
    
    X = np.insert(data, 0, 1, axis=1)
    y = target.copy().reshape(-1, 1)

    

    iters = 0
    while iters < max_iters:
        prediction = np.sign(X @ model)
        misclassified = (prediction != y).squeeze()
        misclassified_indices = np.where(misclassified)[0]

        # misclassified = misclassified.reshape(-1)
        if not misclassified.any():
            break

        misclassified_X = X[misclassified_indices]
        misclassified_y = y[misclassified_indices]
        
        model += (misclassified_y * misclassified_X).sum(axis=0)
        iters += 1
        
    return model

In [13]:
def _error_rate(X, y, w):
    X_new = np.hstack((np.ones((X.shape[0], 1)), X))
    y_pred = np.sign(np.dot(X_new, w))
    return np.mean(y_pred != y)

In [14]:
def pocket_algorithm(X, y, max_iterations = 3):
    # Agregamos una columna de unos a las datos de entrada para tener en cuenta el sesgo
    X = np.insert(X, 0, 1, axis=1)
    
    # Inicializamos el vector de pesos
    w = np.zeros(X.shape[1] + 1)
    
    # Inicializar el mejor vector de peso y tasa de error
    best_w = []#w#np.copy(w)
    best_error_rate = 10000000
    
    # Inicializamos el pocket algorithm 
    for t in range(max_iterations):
        print(f'Iteracion: {t}')
        # ejecutar PLA hasta que no existan más puntos mal clasificados
        w = train_pla(X, y)
        
        # evaluate Ein(w(t + 1))
        aux = _error_rate(X, y, w)
        # print(aux, best_error_rate)
        best_w.append([aux, w])
        # check if w(t + 1) is better than the current best in terms of Ein
        if aux < best_error_rate:
            # best_w.= aux
            best_error_rate = aux
            
    print(best_w[1:], best_w[0])
    return [best_w[1:], best_w[0]] # return the weights without the bias term and the bias term

In [15]:
mod = pocket_algorithm(x, y)

Iteracion: 0
Iteracion: 1
[[1.0, array([2.53697706e+08, 2.53697707e+08, 2.55573004e+08, 8.55952158e+07,
       7.44949203e+07, 8.54203892e+08, 1.72840836e+08, 8.08568721e+07,
       6.97297793e+07, 2.29959918e+07, 1.60971937e+08])]] [1.0, array([2.53697707e+08, 2.53697707e+08, 2.55573004e+08, 8.55952162e+07,
       7.44949204e+07, 8.54203892e+08, 1.72840835e+08, 8.08568716e+07,
       6.97297792e+07, 2.29959911e+07, 1.60971937e+08])]

## Asignación 3 &#x1F625;

Utilizando las características __Pclass__, __Sex__, __SibSp__, __Parch__, __Cabin__ y __Embarked__, entrene una regresión lineal para predecir __Fare__ utilizando el algoritmo de Ordinary Leasts Squares (OLS). Imprima el valor del error cuadrático medio (MSE).

In [16]:
def mean_squared_error(y_true, y_pred):
    """
    Calcula el error cuadrático medio entre los objetivos verdadero y previsto
    
    Entradas
    y_true: Vector objetivo verdadero
    y_pred: Vector objetivo predicho
    
    Salida:
    Error cuadrático medio
    """
    return round(np.mean((y_true - y_pred) ** 2), 1)

def OLS(X, y):
    """
    Calcula los pesos óptimos utilizando mínimos cuadrados ordinarios
    :param X: Matriz de características de forma (n_muestras, n_características)
    :param y: Vector objetivo de la forma (n_muestras,)
    :return: Pesos óptimos de la forma (n_características,)
    """
    
    # Calculamos la pseudo-inversa de x
    x_t = ((np.linalg.pinv(x) @ x) ** -1) @ np.linalg.pinv(x)
    
    # Calculamos el vector de pesos
    w = x_t @ y
    
    # Realizamos las predicciones del modelo
    y_pred = np.dot(x, w)
    
    print(f'Error cuadratico medio: {mean_squared_error(y, y_pred)}')
    return w

In [17]:
w = OLS(np.insert(x, 0, 1), df.Fare.values)

Error cuadratico medio: 5.838264294487723e+31

## Asignación 4 &#x1F921;

Utilizando las características __Pclass__, __Sex__, __SibSp__, __Parch__, __Fare__, __Cabin__ y __Embarked__, entrene un clasificador lineal para predecir la probabilidad de supervivencia __Survived__ utilizando el algoritmo de gradiente descendente estocástico y la entropía cruzada como función de error. Imprima el arror en cada iteración del gradiente.

In [18]:
w = np.zeros(shape=np.shape(df.Survived)[0])
y = df.Survived.values
n_step = 0.100
# vector = - 1
tolerance = 1e-6

for i in range(100):
    gt = x.T.dot(np.sign(x.dot(w)) - y) / len(y)
    
    vector = - gt
    
    w_new = w + 0.1 * vector
    
    if np.linalg.norm(w_new - w) < tolerance:
        break
    
    w = w_new

ValueError: shapes (891,9) and (891,) not aligned: 9 (dim 1) != 891 (dim 0)